<div>
	<section id="filters">
		<label class="filter-elem" for="filter-greater-then">Price greater then </label>
		<input class="filter-elem" id="filter-greater-then" type="number" placeholder="Price greater then"
			[(ngModel)]="greaterThen" />

		<label class="filter-elem" for="filter-lesser-then">Price lesser then </label>
		<input class="filter-elem" id="filter-lesser-then" type="number" placeholder="Price lesser then"
			[(ngModel)]="lesserThen" />

		<button class="filter-elem" (click)="resetFilter()">Reset Filter</button>
	</section>
	<table class="table table-dark">
		<thead>
			<tr class="text-uppercase">
				<th (click)="sort('id')">Nr <i class="fa fa-sort"></i></th>
				<th (click)="sort('name')">Name <i class="fa fa-sort"></i></th>
				<th (click)="sort('price')">Price [PLN] <i class=" fa fa-sort"></i></th>
				<th>Info</th>
				<th>Img</th>
				<th (click)="sort('deliveryPrice')">Delivery Price <i class=" fa fa-sort"></i></th>
				<th (click)="sort('deliveryTime')">Delivery Time [Days] <i class=" fa fa-sort"></i></th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of filteredProducts | orderBy: key: reverse">
				<td>{{ product.getId() }}</td>
				<td>{{ product.getName() }}</td>
				<td>{{ product.getPrice() }}</td>
				<td>{{ product.getInfo() }}</td>
				<td><img src="{{product.getImg()}}" height="100px" /></td>
				<td>{{ product.getDeliveryPrice() }}</td>
				<td>{{ product.getDeliveryTime() }}</td>
				<td>
					<a routerLink="/edit/{{ product.getId() }}" type="button" class="btn btn-success btn-sm"
						(click)="editItem(product.getId())">Edit</a>
					<a type="button" class="btn btn-danger btn-sm" (click)="deleteItem(product.getId())">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>